* {
    padding: 0;
    margin: 0;
    font-family: 'roboto_slabregular';
    box-sizing: border-box;
}

@font-face {
    font-family: 'roboto_slabregular';
    src: url('../fonts/robotoslab/robotoslab-variablefont_wght.woff2') format('woff2'),
         url('../fonts/robotoslab/robotoslab-variablefont_wght.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: white;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    width: 100%;
    display: block;
}

p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    color: rgb(79, 79, 79);
}

#back {
    background-color: rgb(79, 79, 79);
    padding: 10px;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 20px;
}

a {
    color: rgb(79, 79, 79);
}

a:hover {
    opacity: 0.5;
}

#links {
    text-align: center;
}

#links a {
    font-style: italic;
    margin-right: 10px;
}

@media only screen and (max-width: 900px) {
    main {
        width: 100%;
    }
}